<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap18="http://schemas.microsoft.com/appx/manifest/uap/windows10/18"
  IgnorableNamespaces="uap mp uap18">
	<Identity
	  Name="RudolfMendzezof.197270BC50CAA"
	  Publisher="CN=A22C22A7-5E85-49D2-8EEF-B99583D1BE25"
	  Version="1.0.23145.0" />
	<mp:PhoneIdentity PhoneProductId="a2b6a2c4-2382-46e6-9984-5c7d17cea5e8" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
	<Properties>
		<DisplayName>TestBench Target</DisplayName>
		<PublisherDisplayName>Rudolf Mendzezof</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>
	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26100.0" />
	</Dependencies>
	<Resources>
		<Resource Language="x-generate"/>
	</Resources>
	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="TestBenchTarget.UWP.App" uap18:TrustLevel="appContainer" >
			<uap:VisualElements
			  DisplayName="TestBench Target"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png"
			  BackgroundColor="white" Description="A sample application designed to serve as a testing subject for developers creating monitoring, accessibility, or UI automation tools. This app provides predictable user interface elements and behaviors that developers can use to test their monitoring solutions.">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="TestBench Target" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png">
					<uap:ShowNameOnTiles>
						<uap:ShowOn Tile="square150x150Logo"/>
					</uap:ShowNameOnTiles>
				</uap:DefaultTile>
				<uap:SplashScreen Image="Assets\SplashScreen.png"  BackgroundColor="transparent"/>
				<uap:InitialRotationPreference>
					<uap:Rotation Preference="landscape"/>
				</uap:InitialRotationPreference>
			</uap:VisualElements>
		</Application>
	</Applications>
</Package>